
rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    // ব্যবহারকারীর প্রোফাইল সংক্রান্ত নিয়ম
    match /users/{userId} {
      allow read: if request.auth != null;
      allow write: if request.auth != null && request.auth.uid == userId;
    }
  }
}
